@font-face {
  font-family: fontstack;
  font-style: normal;
  font-weight: 300;
  src: local('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}


body {
  font-size: 100%;
  background: #FFF;
	font-family: fontstack,sans-serif;
  color: #303030;
}

.cabecalho{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  margin: 0 auto;
  width: 100%;
  max-width: 1240px;
  height: 105px;
  box-sizing: border-box;
}

.cabecalho-imagem {
  display: flex;
  justify-content: flex-start;
  padding: 0%;
  min-width: 201px;
  max-width: 100%;
  height: auto;
  box-sizing: border-box;
}

.cabecalho-imagem img {
  max-width: 201px;
  color: #ffffff;
  font-size: 26px;
  font-weight: normal;
  font-family: Open Sans,sans-serif;
  letter-spacing: normal;
  word-spacing: normal;
  padding-top: 20px;
  padding-bottom: 20px;
}

.cabecalho-menu {
  display: flex;
  justify-content: flex-end;
  vertical-align: center; 
  width: 100%;
  padding: 0 15px;
  position: relative;
}

.cabecalho-menu-item{
  list-style: none;
  font-weight: 400;
  font-size: 18px;
  padding: 0 10px;
  text-transform: uppercase;
  display: block;
  text-decoration: none;
  margin-left: 20px;
}

.cabecalho-menu-item a{
  list-style-type: none;
  letter-spacing: 2px;
  text-decoration: none;
  color: #303030;
  font-size: 15px;
  font-weight: bold;
}


.conteudo {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  max-width: 1160px;
  padding: 0;
  width: 100%;
  margin: 40px auto;
  font-size: 15px;
}

.conteudo-info-geral {
  display: flex;
  flex-direction: column;
  color: rgba(85,85,85,1);
}

.conteudo-info-geral h1{
  font-size: 58px;
	font-weight: 600;
	text-transform: none;
	line-height: 1.2em;
	letter-spacing: -3px;
  color: #000;
}

.conteudo-info-geral h2{
  color: #54595F;
  font-size: 22px;
  font-weight: 300;
  text-transform: none;
  letter-spacing: 0px;
  margin-bottom: 10px;
  line-height: 1.1;
}

.conteudo-desafio {
  
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1240px;
}

.conteudo-desafio-solicitado {
  display: flex;
  flex-direction: column;
  width: 48%;
  padding: 0;
  margin: 0;
  font-size: 15px;
  color: rgba(85,85,85,1);
}

.resultado-desafio {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 44%;
  padding: 0;
  margin: 0;
  font-size: 15px;
  color: rgba(85,85,85,1);
}

.conteudo-desafio-solicitado h1, .resultado-desafio h1{
  color: #88BC23;
  font-size: 30px;
  font-weight: 600;
  text-transform: none;
  letter-spacing: -0.3px;
  margin-bottom: 10px;
  line-height: 1.1;
}

.resultado-desafio h1 a{
  margin: 0 -.25rem;
  padding: 0 .25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  color: #88BC23;
}

.resultado-desafio h1 a:hover {
  box-shadow: inset 500px 0 0 0 #88BC23;
  color: white;
}

.resultado-desafio ul{
  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}



.resultado-desafio ul a {
  color:#88BC23;
  font-weight: 600;
  text-decoration: none;
  border-bottom: 3px solid #bedb83;
}

.resultado-desafio ul a:hover {
  border-bottom-color: #88BC23;
}


.rodape{
  background-color: #25A423;
  text-align: center;
  padding: 20px 0;
  color: #FFF;
  font-weight: 300;
  border: none;
}

.rodape a {
  color:#FFF;
  font-weight: 600;
  text-decoration: none;
  border-bottom: 3px solid #fff3;
}

.rodape a:hover {
  border-bottom-color: #fff9;
}

/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  color: #88BC23;
}

